<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="true"
      internalLogLevel="Off">

	<variable name="sperator" value="-----------------------------------" />

	<targets>
		<field name="String" layout="Layout" bsonType="Boolean|DateTime|Double|Int32|Int64|String" />
		<property name="String" layout="Layout" bsonType="Boolean|DateTime|Double|Int32|Int64|String" />

		<target name="allfile"
		        xsi:type="File"
		        fileName="${basedir}/Logs/${date:format=dd.MM.yyyy}.log"
		        archiveEvery="Day"
		        archiveFileName="${basedir}/Logs/Log${shortdate}-{#}.log"
		        archiveNumbering="Sequence"
		        layout="${date:format=dd.MM.yyyy HH\:mm\:ss}${newline} ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=10} ${newline} ${sperator} ${newline}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>